body{
    background: #ffffff;
}
.container-fluid{
    background: #ffffff;
    margin: 10px;
    padding: 10px;
    border: auto;
    display: flex;
    justify-content: space-around;
}
.navbar-brand{
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
}
.nav-link{
    color: #D84040;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: justify;
}
.nav-link:hover{
    color: #ffffff;
}
.dropdown-menu{
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: justify;

}

/*.container-clean{
  background: #000000;
  background: url(./imagenes/Drone\ JTC30.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0px;
  padding: 280px;
  
}
.container-text{
background-color: #48A6A7 ;
margin: 0px 300px;
padding: 10px;

}
h3{
    color: #000000;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    text-align:center;
}
.paragraph{
    color: #1E201E;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1;
    text-align: justify;

}
*/

